[RFC] Client generates wrong authorization URL if base URL contains query parameters

if my authorization URL is something like `https://example.com/foo?bar=qux`, the generated authorization URL is something like `https://example.com/foo?bar=qux?client_id=...`. But [RFC 6749 requires the URL parameters to be kept][1]:

>   The endpoint URI MAY include an "application/x-www-form-urlencoded"
   formatted (per Appendix B) query component ([RFC3986] Section 3.4),
   which MUST be retained when adding additional query parameters.  The
   endpoint URI MUST NOT include a fragment component.

 [1]: https://tools.ietf.org/html/rfc6749#section-3.1

@jbaron-gingco We could probably improve the implementation, mind to give it a try? If not, passing your query params when you call the [authorizeURL](https://github.com/lelylan/simple-oauth2/blob/master/API.md#new-authorizationcodeoptions) may work for you:

```
client.authorizeURL({ bar: 'qux' })
```

@jbaron-gingco Feel free to reopen with additional details if my suggestion above doesn't works for your use-case.